* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-head {
  background-color: rgb(62, 84, 163);
  padding: 15px 20px;
  text-align: center;
}

.fa {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

.head {
  color: white;
  font-family: sans-serif;
}

.head-anchor {
  color: white;
  margin-left: 5px;
  transition: all 0.3s ease;
}

.head-anchor:hover {
  text-decoration: none;
}

.second-head {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  align-items: center;
}

.fa-pied-piper-pp {
  font-size: 50px;
  color: rgb(62, 84, 163);
}

.head2-anchor {
  color: black;
  margin: 0 15px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
  transition: all 0.3s ease;
  text-decoration-color: red;
}

.first-span {
  background-color: rgb(62, 84, 163);
  font-size: 10px;
  font-style: normal;
  padding: 5px 5px;
  border-radius: 2px;
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
  vertical-align: middle;
}

.head2-anchor:hover {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

.header-button {
  color: white;
  background-color: rgb(17, 16, 16);
  font-style: italic;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 17px 25px;
  text-decoration: none;
  border-radius: 25px;
  border: none;
}

.fa-github {
  font-size: 20px;
  color: white;
}

.third-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  position: sticky;
  top: 200px;
  padding: 0;
  z-index: 1;
  border-top: 1px solid rgb(214, 219, 223);
  border-bottom: 1px solid rgb(214, 219, 223);
}

.challenge2 {
  font-family: sans-serif;
  padding: 20px 20px;
  margin: 0 0 0 25px;
  border-left: 1px solid rgb(214, 219, 223);
  border-right: 1px solid rgb(214, 219, 223);
}

.sort {
  color: black;
  font-style: italic;
  text-decoration: none;
  padding: 20px 30px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  border-left: 1px solid rgb(214, 219, 223);
  border-right: 1px solid rgb(214, 219, 223);
  transition: all 0.3 ease;
}

.sort:hover {
  background-color: rgb(227, 242, 253);
}

.filter {
  color: black;
  font-style: italic;
  text-decoration: none;
  padding: 20px 30px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0 25px 0 0;
  border-right: 1px solid rgb(214, 219, 223);
  transition: all 0.3 ease;
}

.filter:hover {
  background-color: rgb(227, 242, 253);
}

.fa-caret-down {
  font-size: 17px;
}

/*------------- This is the CSS Section for the main section --------------*/

main {
  padding: 0 60px 80px;
  background-color: rgb(247, 249, 249);
}

.first1-main {
  padding: 50px 0;
}

.first-main {
  position: relative;
  left: 75%;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.fa-circle-info {
  color: rgb(106, 190, 205);
}

.first-main:hover {
  color: rgba(0, 0, 0, 0.5);
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.first-container {
  width: 380px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
}

.first-image {
  position: relative;
  overflow: hidden;
}

.image-first {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  transition: transform 0.5s ease 0s;
}

.image-first:hover {
  transform: scale(1.05);
}

.premium {
  position: absolute;
  right: 16px;
  top: 10px;
  background-color: rgb(62, 84, 163);
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 14px;
}

.free {
  position: absolute;
  right: 16px;
  top: 10px;
  background-color: rgb(231, 235, 249);
  color: rgb(62, 84, 163);
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 14px;
}

.first1-all-main {
  margin: 30px;
}

.first-main-link {
  margin-bottom: 30px;
}

.first1-main-link {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 23px;
  width: 70%;
  font-weight: 400;
  transition: all 0.3s ease;
}

.first1-main-link:hover {
  text-decoration: underline;
}

.first-head-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-family: sans-serif;
  align-items: center;
}

.first1-head2-main {
  color: rgb(106, 190, 205);
}

.first1-head2-span {
  color: rgb(62, 84, 163);
}

.first1-h5-main {
  color: white;
}

.first1-span1-main {
  background-color: rgb(106, 190, 205);
  padding: 6px 8px;
  border-radius: 4px 0 0 4px;
}

.first1-span2-main {
  border: 1px solid rgb(106, 190, 205);
  color: rgb(106, 190, 205);
  background-color: white;
  padding: 5px 8px;
  border-radius: 0 4px 4px 0;
}

.first1-letter1-main {
  font-family: sans-serif;
  color: rgb(115, 115, 115);
  line-height: 25px;
}

.first1-letter-main {
  margin-bottom: 50px;
}

/*-------------- The lower part of the main section ---------------*/

.last-main {
  background-color: rgb(62, 84, 163);
  text-align: center;
  padding: 100px 0;
  margin: 80px -20px;
  border-radius: 20px;
}

.fa-discord {
  margin-right: 4px;
  font-size: 30px;
}

.last-main-discord {
  color: white;
  margin-bottom: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-main-join {
  color: white;
  font-family: Heebo, sans-serif;
  margin-bottom: 60px;
  font-weight: 700;
  letter-spacing: 2px;
}

.last-main-join2 {
  color: white;
  margin-bottom: 60px;
  font-family: Heebo, sans-serif;
  font-weight: 400;
  font-size: 30px;
  width: 83%;
  text-align: center;
  margin: 0 auto;
}

.last-main-join-div {
  margin: 80px 0 0 0;
}

.last-main-join-link {
  color: rgb(62, 84, 163);
  background-color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bolder;
  font-style: italic;
  padding: 15px 27px;
  border-radius: 27px;
}

/*------------------- The Footer Section --------------------*/

footer {
  padding: 80px 0 0 0;
}

.footer-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 50px;
}

.other-contact {
  font-size: 25px;
  color: rgb(106, 190, 205);
}

.fa-square-instagram {
  margin-right: 20px;
}

.fa-twitter {
  margin-right: 20px;
}

.fa-linkedin {
  margin-right: 20px;
}

/*---------------- The Section for Footer Contact ---------------*/

.footer-pages {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 50px;
}

.footer-stay {
  color: rgb(62, 84, 163);
  margin-bottom: 25px;
}

.footer-with {
  width: 300px;
  line-height: 23px;
  margin-bottom: 25px;
}

.footer-input {
  padding: 10px 0 10px 5px !important;
  font-size: 18px;
  color: rgb(28, 32, 34);
  border: 1px solid rgb(219, 229, 230);
  border-radius: 3px;
}

.footer-button {
  background-color: rgb(237, 44, 73);
  color: white;
  padding: 14px 20px;
  font-weight: 900;
  border: none;
  font-size: 16px;
  font-style: italic;
  margin-left: 20px;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-button:hover {
  filter: brightness(90%);
}

.footer-h3 {
  font-weight: bolder;
  margin-bottom: 25px;
}

.footer-ul {
  list-style-type: none;
}

.footer-anchor {
  text-decoration: none;
  color: rgb(115, 115, 115);
  transition: all 0.3s ease;
}

.footer-anchor:hover {
  text-decoration: underline;
}

.footer-ul li {
  margin-bottom: 10px;
}

/*----------------- The Copyright section ------------------*/
.footer-last {
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  color: rgb(115, 115, 115);
  border-top: 1px solid rgb(214, 219, 223);
}

.footer-last-anchor {
  text-decoration: none;
  margin-right: 20px;
  color: rgb(115, 115, 115);
}

.footer-last-anchor1 {
  text-decoration: none;
  color: rgb(115, 115, 115);
}
